<h1> Edit Badge </h1>

<%= render partial: 'share/errors', locals: {obj: @badge} %>

<%= form_for @badge do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
    <%= f.submit%>
<% end %>
<%= button_to 'Delete', badge_path(@badge), method: :delete %> <br><br>
<%= link_to "Back", :back %>
