

<%= render partial: 'share/errors', locals: {obj: @badge}%>

<h1> <%= @badge.issuer %> </h1>
<h4> <%= @badge.name%> Badge </h4>
<%= button_to "Edit", edit_badge_path(@badge), method: :get if can? :manage, Badge %>
<%= button_to 'Delete', badge_path(@badge), method: :delete if can? :manage, Badge %>
<hr>
<h4> All badge holders: </h4>
<ul>
    <% @badge.users_badges.order_by_name.each do |u| %>
        <li><%=link_to u.full_name, link_path(u.user)%></li>
        <ul>
            <li>
                Expiration: <%= u.expiration_format %>
            </li>
        </ul>
        <hr>
    <% end %>
</ul>
<%= link_to "Back", :back %>
