<h2>Edit <%= @user.first_name %></h2>

<%= form_for @user do |f| %>


  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name%>
  </div>

  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>


    <div>
      <%= f.label :role, 'Access Level' %><br>
      <%= f.select :role, [['basic', 'worker'], ['admin', 'boss'], ['super admin', 'admin']], selected: @user.role %>
    </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <%# <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <%# <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <%# <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>



  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
