<h2>Edit <%= @user.first_name %></h2>

<%= render partial: 'share/errors', locals: {obj: @user}%>

<%= form_for @user do |f| %>


    <div>
        <%= f.label :first_name %>
        <%= f.text_field :first_name%>
    </div>

    <div>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
    </div>


    <div>
        <%= f.label :role, 'Access Level' %><br>
        <%= f.select :role, [['basic', 'user'], ['admin', 'admin'], ['super admin', 'super_admin']], selected: @user.role %>
    </div>

    <div>
        <%= f.fields_for :foreman do |b| %>
            <%= b.label :user_id, "foreman"%>
            <%= b.check_box :user_id %>
        <% end %>
    </div>

    <div>
      <%= f.fields_for :helper do |h| %>
        <%= h.label :user_id, "Helper" %>
        <%= h.check_box :user_id %>

        <%= h.label :foreman_id, 'Select a Foreman'%>
        <%= h.collection_select :foreman_id, Foreman.all, :id, :full_name %>

      <% end %>
    </div>

  <div>
    <%= f.label :phone_number %>
    <%= f.phone_field :phone_number %>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>



  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
