<h2> <%= @user.full_name %> </h2>
<ul>
    <li><h4> Email: <%= mail_to @user.email, @user.email %> </h4></li>
    <li><h4> Phone #: <%= @user.phone_number %> </h4></li>
    <li><h4> Role: <%= @user.role %> </h4></li>
    <li><h4> Badge: <%= render partial: 'share/badges', locals: {user: @user}%> </h4></li>
    <%= link_to 'Edit', edit_user_path(@user) %> /
    <%= link_to "Back", :back %>
</ul>
