
<%= index_title_if_nested_or_not %>

<ul>
    <% @helpers.each do |helper| %>
        <li>
            <h4>
                <%= link_to helper.user.full_name, helper_path(helper) %>
                <%= button_to "Delete", helper_path(helper), method: :delete %>
            </h4>
        </li>
    <% end %>
</ul>

<%= buttom_route_if_nested_or_not + "/" if can? :manage, Helper %>
<%= link_to "Back", :back %>
