<h1> build a helper workshop </h1>
<%= render partial: 'share/errors', locals: {obj: @helper}%>

<%= form_for @helper do |f| %>

    <%= render partial: 'foreman_option', locals: {f: f} %>

    <%= f.fields_for :user do |u| %>
        <%= render partial: 'users/form', locals: {f: u} %>
    <% end %>

    <%= f.submit%>
<% end %>

<%= link_to "Back", :back %>
