<%= title_if_nest_or_not %>

<%= new_nested_badge_path %> /
<%= link_to "Back", :back %>

<ul>
<% @users_badges.each do |f| %>
   <li> <h3> <%= f.user.full_name %> </h3></li>
    <p> Badge: <%= link_to f.badge.full_name, users_badge_path(f) %> </p>
    <p> Expiration: <%= f.expiration.to_formatted_s(:long) %> </p>
    <%= link_to 'Edit', edit_users_badge_path(f)%>
    <%= button_to 'Delete', users_badge_path(f), method: :delete %>
    <hr>
<% end %>
</ul>

<%= link_to "Back", :back %>
