<h1> New user badge </h1>

<%= render partial: 'share/errors', locals: {obj: @users_badge} %>

<%= form_for @users_badge do |f|%>

    <%= render partial: 'form', locals: {f: f} %><br>

    <%=  f.fields_for :badge do |b| %>
        <%= new_badge_form_if_nested_route(b) %>
    <% end %>

    <%= f.submit %>
<% end %>
