<h1> Create a new badge association </h1>

<%= render partial: 'share/errors', locals: {obj: @users_badge} %>

<%= form_for @users_badge do |f|%>

    <%= render partial: 'form', locals: {f: f} %><br>

    <h4> Or create a new badge </h4>
    <%=  f.fields_for :badge do |b| %>
        <%= new_badge_form_if_nested_route(b) %>
    <% end %>

    <%= f.submit %>
<% end %>
<%= link_to "Back", :back %>
