<h1> foreman form</h1>

<%= form_for @foreman do |f| %>
    <%= f.label :user_id, 'Select a new foreman'%>
    <%= f.collection_select :user_id, User.all, :id, :first_name, prompt: true%>
    <%= f.fields_for :user do |u| %>
        <%= render partial: 'users/form', locals: {f: u} %>
    <% end %>
    <%= f.submit%>
<% end %>
