<h1> Create a new foreman from current users </h1>

<%= render partial: 'share/errors', locals: {obj: @foreman} %>

<%= form_for @foreman do |f| %>

    <%= render partial: 'form', locals: {f: f}%>

<h2> Or Create New Foreman</h2>
    <%= f.fields_for :user do |u| %>
        <%= render partial: 'users/form', locals: {f: u} %>
    <% end %>

    <%= f.submit %>
<% end %>
<%= link_to "Back", :back %>
